.enrollLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  padding: 16px 20px;
  box-sizing: border-box;
}

.enrollLink:hover {
  background-color: var(--background-secondary);
}

.buttonWrapper {
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}

.accept,
.reject {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;

  cursor: pointer;
  transition:
    border-color 0.1s,
    color 0.1s;
}

.accept:hover {
  border-color: var(--info-color);
  color: var(--info-color);
}

.reject:hover {
  border-color: var(--error-color);
  color: var(--error-color);
}

.userName {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
