.passwordChangeForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.passwordText {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputBox {
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 12px 16px;
  outline: none;
}

.inputErrorBox {
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--error-color);
  box-sizing: border-box;
  padding: 12px 16px;
  outline: none;
}

.errorMessage {
  color: var(--error-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--on-primary);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  align-self: end;
  cursor: pointer;
}
