.articleDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: var(--background-default);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.goBack {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--text-color-secondary);
  stroke: var(--text-color-secondary);
}

.title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
  margin: 0;
}

.author {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color-secondary);
}

.content {
  margin: 0 auto 20px;
}
