.wrapper,
.loginGroup {
  padding-top: 20px;
  max-width: 480px;
  margin: 0 auto;
  color: var(--text-color);
}

.loginGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 40px 0;
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  color: var(--on-primary);
  padding: 12px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  cursor: pointer;
}
