.articleLink {
  border-radius: 8px;
  width: 820px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 20px;
}

.articleLink:hover {
  background-color: var(--background-secondary);
}

.note {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.date {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--text-color-secondary);
}
