.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.thumbnail {
  width: 295px;
  height: 220px;
  border-radius: 20px;
  background-color: var(--background-secondary);
  box-sizing: border-box;
}
