.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 295px;
  height: 295px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
