.createArticle {
  width: 100%;
}

.backButton {
  display: flex;
  color: var(--text-color-secondary);
  flex-wrap: nowrap;
  line-height: 1.2;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 8px;
}

.backText {
  padding-left: 4px;
}

.title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.label {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 8px;
}

.titleInput {
  padding: 20px;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.titleInput::placeholder {
  color: var(--text-color-tertiary);
}

.contentInput {
  padding: 20px;
  height: 80px;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.contentInput::placeholder {
  color: var(--text-color-tertiary);
}

.button {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--on-primary);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  align-self: end;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.25s,
    border-color 0.25s,
    color 0.25s;
}

.button:disabled,
.button[disabled] {
  border-color: var(--border-color);
  background-color: var(--background-tertiary);
  color: var(--text-color-tertiary);
  cursor: not-allowed;
}
