.card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px 12px;
  width: 416px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.incorrect {
  /* background-color: var(--red200); */
  border: 2px solid var(--red300);
}

.correct {
  /* background-color: var(--green200); */
  border: 2px solid var(--green300);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.label {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 4px;
}

.imagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 220px;
  margin: 10px auto;
  border-radius: 8px;
  object-fit: contain;
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
}

.input {
  padding: 14px;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  word-break: break-all;
}

.choiceDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.numLabel {
  width: 40px;
  text-align: center;
  display: block;
}

.choiceInput {
  flex-grow: 1;
  padding: 7px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  align-self: end;
  border-radius: 8px;
  cursor: pointer;
}

.add {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--on-primary);
  stroke: var(--on-primary);
}

.remove {
  border: 1px solid var(--blue100);
  background-color: var(--blue100);
  color: var(--info-color);
  stroke: var(--info-color);
}

.cardRemove {
  border: 1px solid var(--background-secondary);
  background-color: var(--background-secondary);
  color: var(--text-color-secondary);
  stroke: var(--text-color-secondary);
}
