.title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, auto));
  gap: 20px;
  justify-content: start;
  margin-bottom: 40px;
}
