.title {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.titleText {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
}

.button {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
}

.buttonText {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
}
