.loginForm {
  max-width: 480px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  gap: 20px;
  color: var(--text-color);
}

.loginText {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.loginButton {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  color: var(--on-primary);
  padding: 12px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.textBody {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.textSubheading {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.textBodyStrong {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
}
